html {
    body {
        .mainSection {
           
                
                .headerBar {
                    display: flex;
                    justify-content: space-between;
                    .favoriteCities {
                        font-size: 16px;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        background-color: white;
                        color: #333;
                        width: 200px;
                        
                        &:focus {
                            border-color: #4CAF50;
                            box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
                            outline: none;
                        }
                        
                        &::after {
                            content: '\25BE';
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            pointer-events: none;
                        } 
                    }
                    
                    #searchCity {
                        #searchBar {
                            width: 15rem;
                            height: 2rem; 
                            padding-left: 0.5rem;
                            font-size: 1rem;
                        }
                        #searchBar::placeholder {
                            font-size: 1rem;
                        }
                        #searchBtn {
                            width: 5rem;
                            height: 2rem;
                            font-size: 1rem;
                        }
                    }
                }
                .mainPart{
                .currentWeather {
                    
                    border-radius: 10px;
                    padding: 20px;
                    border-radius: 10px;
                    text-align: center;
                    #currentWeatherCity {
                        font-size: 3rem;
                        margin: 1rem;
                    }
                    #currentWeatherTemp,
                    #currentWeatherFeel,
                    #currentWeatherHumidity{
                    font-size: 1.5rem;
                    }
                    #currentWeatherIcon {
                        width: 12rem;
                        height: 12rem;
                    }
                    width:95% 
                }
              
                }
        }
    }
}
    @media only screen and (max-width: 375px) {
        html{
        body {
            .mainSection {
                
                    
                    .headerBar {
                        display: flex;
                        flex-direction: row;
                        justify-content: center; 
                        .favoriteCities {
                            font-size: 0.1rem;
                            padding: 6px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            background-color: white;
                            color: #333;
                            width: 8rem;
                            height: 2rem;
                            //margin-right: 5rem;
                            
                            &:focus {
                                border-color: #4CAF50;
                                box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
                                outline: none;
                            }
                            
                            &::after {
                                content: '\25BE';
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);
                                pointer-events: none;
                            }
                        }
                   
                        #searchCity {
                            display: flex;
                            align-items: center;
                            #searchBar {
                                width: 8rem;
                                height: 1.7rem;
                                padding: 0 0.1rem;
                                font-size: 0.3rem;
                                //margin-left: 3rem;
                            }
                            #searchBar::placeholder {
                                font-size: 0.3rem;
                            }
                            #searchBtn {   
                                width: 3rem;
                                height: 1.7rem;
                                font-size: 0.2rem;
                                padding: 0;
                            }
                        }
                    }
                    .mainPart{
                        display: flex;
                    .currentWeather {
                        display: flex;
                        justify-content: center;
                        #currentWeatherCity {
                            font-size: 1.5rem;
                            margin: 1rem;
                        }
                        #currentWeatherTemp,
                        #currentWeatherFeel,
                        #currentWeatherHumidity {
                            font-size: 1rem;
                        }
                        #currentWeatherIcon { 
                            width: 3rem;
                            height: 3rem;
                        }
                    }
                }
                
                
                  
            }
            
        }
    }
}
